<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description" align="justify">
Millions of people worldwide leave their countries every year: refugees and asylum seekers may leave due to reasons such as wars, climate change and hostile environments, while the current global economic situation is also producing an increasing number of economic migrants. However, since most HRI research takes place with people in "WEIRD" (Western, Educated, Industrial, Rich, Democratic) countries, HRI systems are generally designed for, and evaluated on, people who are familiar with WEIRD communication. </p>
<p>
In this workshop, we will explore <b>HRI solutions to provide services and support for refugees, asylum seekers, and migrants</b>. We will also discuss the <b>ethical issues</b> behind the use of robots for these populations, potential lessons learned from existing work, and work <b>towards HRI that contributes to communities feeling more at home and welcome as they navigate their way in their new countries</b>.
</p>

