<h2 class="section-title">{{ .titles.cfp }}</h2>

<p itemprop="description">We seek extended abstracts (2-4 pages, plus references, in IEEE format) on any of the following topics:

<p>
- HRI with Refugees, Asylum seekers or Migrants (RASM) <br>
- Participatory HRI research with RASM <br>
- Ethics, privacy, bias, fairness, accountability and transparency in HRI with RASM <br>
- Anti-racist robotics <br>
- HRI and human rights
</p>

<p>
Submitted work may be past, present, or future-facing. That is, submitted work can describe previously published work, new results, research plans, or speculations as to how one's prior work might apply in future research to this new domain. Accepted papers will be accompanied by talks and/or poster presentations and will be archived on the workshop website.
</p>

<p><b>Important Dates</b></p>

<p>
- Paper submission deadline: 25th July 2025 (final extension) <br>
- Author notification: 1st August 2025 <br>
- Camera-ready submission: TBC <br>
</p>

<p><b>Submission instructions </b></p>

<p>Authors can submit papers of 2-4 pages plus references. All papers must be submitted in PDF and must follow the ICRA double-column format. <a href="http://ras.papercept.net/conferences/support/support.php" target="_blank">Templates are available here</a>. All papers will be peer-reviewed (single-blind). Both unpublished original contributions and previously published work may be submitted.</p>

<p>All submissions will be made electronically through the EasyChair conference system on this <a href="https://easychair.org/conferences?conf=ras4rasm" target="_blank">submission link</a>.

<p>Presence at the workshop is required, but it can be in-person or virtually.</p>

