<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="description">The workshop will be hosted at the <a href="https://www.icra2020.org/" target="_blank">2020 IEEE International Conference on Robotics and Automation (ICRA 2020)</a> - now virtual.<br>
<b>Slack channel:</b> <a href="https://icra20.slack.com/app_redirect?channel=ws17" target="_blank">#ws17</a><br>
<span style="color:#FF0000;"><b>Live streaming link:</b> <a href="https://oru-se.zoom.us/j/64976761073" target="_blank">https://oru-se.zoom.us/j/64976761073</a></span><br>

</p>

<!--<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>
-->

<!--<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>-->
