<h2 class="section-title">{{ .titles.papers }}</h2>

<p>
Konstantinos Gavriilidis, Andrea Munafo, Wei Pang, Helen F. Hastie, <b>"A Surrogate Model Framework for Explainable Autonomous Behaviour"</b>
<a href="papers/xro-gavriilidis.pdf" target="_blank">[PDF]</a>
</p>
<p>
Sam Thellman, Maartje M.A. De Graaf, <b>"The challenges of first- and second-order belief reasoning in explainable human-robot interaction"</b>
<a href="papers/xro-thellman.pdf" target="_blank">[PDF]</a>
</p>
<p>
Lennart Wachowiak, Andrew Coles, Oya Celiktutan, Gerard Canal, <b>"A Survey of Evaluation Methods and Metrics for Explanations in Human–Robot Interaction (HRI)"</b>
<a href="papers/xro-wachowiak.pdf" target="_blank">[PDF]</a>
</p>
<p>
Justin Kottinger, Shaull Almagor, Morteza Lahijanian, <b>"Explainable Multi-Robot Motion Planning via Segmentation"</b>
<a href="papers/xro-kottinger.pdf" target="_blank">[PDF]</a>
</p>
<p>
Efimia Panagiotaki, Daniele De Martini, Lars Kunze, <b>"Towards Semantic Interpretation and Validation of Graph Attention-based Explanations"</b>
<a href="papers/xro-panagiotaki.pdf" target="_blank">[PDF]</a>
</p>
<p>
Marwen Belkaid, <b>"Explanation through behavior: a human-inspired framework for explainable robotics"</b>
<a href="papers/xro-belkaid.pdf" target="_blank">[PDF]</a>
</p>
<p>
Gabriele Trovato, Yueh-Hsuan Weng, Yegang Du, <b>"'Never complain, never explain': why robots may not have to be explicable after all"</b>
<a href="papers/xro-trovato.pdf" target="_blank">[PDF]</a>
</p>
<p>
Marta Lagomarsino, Marta Lorenzini, Merryn Dale Constable, Elena De Momi, Cristina Becchio, Arash Ajoudani, <b>"Maximising Coefficiency of Human-Robot Handovers through Reinforcement Learning"</b>
<a href="papers/xro-lagomarsino.pdf" target="_blank">[PDF]</a>
</p>
<p>
Anna Collins, <b>"Argumentation for Evaluative Explanations of PDDL Plans"</b>
<a href="papers/xro-collins.pdf" target="_blank">[PDF]</a>
</p>
<p>
Kerstin Haring, Pilyoung Kim, Daniel Pittman, <b>"Explainable Robot Design Based on a Robot Theory of Mind: A Web-Based Platform to systematically evaluate Robot Designs"</b>
<a href="papers/xro-haring.pdf" target="_blank">[PDF]</a>
</p>
