<h2 class="section-title">{{ .titles.papers }}</h2>

<p>
Thosha Moodley and Mirjam de Haas, <b>"Can Robots Support Recovery from Mental Health Issues in At-Risk Immigrant Populations in the Netherlands?"</b>
<!--<a href="papers/.pdf" target="_blank">[PDF]</a>-->
</p>

<p>
Takanori Shibata, <b>"Baby Seal Robot, PARO, for 'Mental Health and Psychosocial Support (MHPSS) in Emergency and beyond' for Victims of Natural Disasters in Japan and for Ukrainian Refugees in Poland"</b>
<!--<a href="papers/.pdf" target="_blank">[PDF]</a>-->
</p>

<p>
Shaul Ashkenazi, Rawan Srour-Zreik, Gabriel Skantze, Jane Stuart-Smith and Mary Ellen Foster, <b>"Crossing Borders Together: Co-Designing Robots with Refugees and Asylum Seekers"</b>
<!--<a href="papers/.pdf" target="_blank">[PDF]</a>-->
</p>

<p>
Atmadeep Ghoshal and Martim Brandao, <b>"Towards Dignity-Preserving HRI: Addressing Surveillance Anxiety, Identity Erasure, and Dehumanization in Robotic Immigration Kiosks"</b>
<!--<a href="papers/.pdf" target="_blank">[PDF]</a>-->
</p>

<p>
Arshia Dutta and Martim Brandao, <b>"Compassionate Robots, Hostile Borders: The Paradox of Empathetic Technology in Asylum Adjudication"</b>
<!--<a href="papers/.pdf" target="_blank">[PDF]</a>-->
</p>

