<h2 class="section-title">{{ .titles.resources }}</h2>

<p>This space serves as a resource for related initiatives and readings. It is curated by the organizers and invited speakers.<br>Please feel free to send any of the organizers an email if you think something should be added to the lists below.</p>

<p><b>Related initiatives, workshops and conferences</b></p>
<p>
- <a target="_blank" href="http://crowdbot.eu/workshop-roman2020/">ROMAN 2020 workshop "Robots from  pathways to crowds: ethical, legal and safety concerns of robots navigating human environments"</a><br>
- <a target="_blank" href="http://www.ams.eng.osaka-u.ac.jp/ristex/index.php/events/icra2020ws/">ICRA 2020 workshop "How will Autonomous Robots and Systems Influence Society? Debate from technological, philosophical, ethical, legal, and social implications perspectives"</a><br>
- <a target="_blank" href="http://fair-ai.owlstown.com">CHI 2020 workshop "Fair & Responsible AI"</a><br>
- <a target="_blank" href="https://against.aass.oru.se/">ICRA 2019 workshop "Bias-sensitizing robot behaviours: A quest for Avoiding Harmful Bias and Discrimination by robots (AGAINST-19)"</a><br>
- <a target="_blank" href="https://blogit.itu.dk/irosworkshop2019/">IROS 2019 workshop "What's wrong with my robot? Unlearning biases in robot design"</a><br>
- <a target="_blank" href="https://sites.google.com/view/xai2019/home">IJCAI 2019 Workshop on Explainable Artificial Intelligence (XAI)</a><br>
- <a target="_blank" href="https://kcl-planning.github.io/XAIP-Workshops/ICAPS_2019">ICAPS 2019 Workshop on Explainable Planning (XAIP-2019)</a><br>
- <a target="_blank" href="https://kmitd.github.io/recoding-black-mirror/">Web Conference 2019 workshop "Recoding Black Mirror"</a><br>
- <a target="_blank" href="https://sites.google.com/view/fatecv">CVPR 2019 Workshop on Fairness Accountability Transparency and Ethics in Computer Vision</a><br>
- <a target="_blank" href="http://icaps18.icaps-conference.org/xaip/">ICAPS 2018 workshop "Explainable AI Planning (XAIP)</a><br>
- <a target="_blank" href="https://conferences.au.dk/robo-philosophy/previous-conferences/rp2018/">Robophilosophy 2018</a><br>
- <a target="_blank" href="https://mini-symposium-tokyo.info/">ICRA 2014 workshop "Robotics and Military Applications: From Current Research and Deployments to Legal and Ethical Questions "</a><br>
- <a target="_blank" href="http://www.roboethics.org/icra2011/">ICRA 2011 workshop on Roboethics</a><br>
- <a target="_blank" href="http://www.roboethics.org/icra2009/">ICRA 2009 workshop on Roboethics</a><br>
- <a target="_blank" href="http://www.roboethics.org/icra2007/">ICRA 2007 workshop on Roboethics</a><br>
- <a target="_blank" href="https://fatconference.org/">ACM Conference on Fairness Accoutability and Transparency (FAT*)</a><br>
- <a target="_blank" href="https://www.aies-conference.com/">ACM Conference on Artificial Intelligence, Ethics, and Society</a><br>
</p>
